@charset "utf-8";

body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/635/235/641/anime-my-hero-academia-boku-no-hero-academia-izuku-midoriya-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right bottom;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
    color: whitesmoke;
    padding-top: 40px;
}
div {
    text-align: center;
}
p {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 15px;
}
.voltar {
    text-align: center;
}
