@charset "utf-8";

body {
    background-image: url(https://images6.alphacoders.com/911/911401.jpg);
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
h1 {
    text-align: center;
    color: rgb(26, 26, 26);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10%;
    text-decoration: overline;
    font-style: italic;
}
div {
    text-align: center;
}
p {
    text-align: center;
    color: rgb(26, 26, 26);
    font-size: 22px;
    text-decoration: underline;
}

main > a > p:hover {
    color: rgb(0, 0, 0);
    margin: auto;
    max-width: 300px;
    background-color: lightblue;
    border-radius: 20px;
}
.voltar {
    margin: auto;
}
    
